beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.9
distro==1.5.0
idna==2.9
importlib-metadata==1.6.0
irc==18.0.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.0
jaraco.logging==3.0.0
jaraco.stream==3.0.0
jaraco.text==3.2.0
matrix-client==0.3.2
more-itertools==8.2.0
pycparser==2.20
pyOpenSSL==19.1.0
pytz==2019.3
requests==2.23.0
six==1.14.0
soupsieve==2.0
StackAPI==0.1.12
tempora==3.0.0
urllib3==1.25.8
wikipedia==1.4.0
zipp==3.1.0
zulip==0.6.4
