beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
distro==1.4.0
entrypoints==0.3
flake8==3.7.9
idna==2.9
matrix-client==0.3.2
mccabe==0.6.1
pycodestyle==2.5.0
pycparser==2.20
pyflakes==2.1.1
pyOpenSSL==19.1.0
requests==2.23.0
six==1.14.0
soupsieve==2.0
StackAPI==0.1.12
urllib3==1.25.8
wikipedia==1.4.0
zulip==0.6.4